<% layout('layouts/boilerplate') %>
    <div class="container d-flex">
        <div class="row mb-5">
            <div class="col-xl-6 p-2 px-3 align-self-center">
                <h1>Norwegian Rails</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia dicta recusandae dolorem,
                    doloremque reprehenderit corporis architecto asperiores ad assumenda voluptate atque inventore?
                    Culpa voluptatibus qui iusto, deserunt aut praesentium quos, mollitia nam voluptates rem amet quis.
                </p>
                <h2>History</h2>
                <p>Fuga neque expedita laudantium corporis non illum adipisci soluta repellat, nihil ipsa rem vel rerum
                    incidunt esse, iusto voluptatibus earum consequatur assumenda natus velit in architecto deserunt.
                    Repellat officiis dignissimos quibusdam illum, dicta quasi soluta eveniet est ducimus eius hic eum
                    nobis quia, odit, qui recusandae a quo sapiente illo laborum? Quibusdam debitis mollitia maxime, ea,
                    quae impedit cupiditate accusantium tempore recusandae ratione sequi quos laudantium error cum
                    cumque beatae?</p>
                <p>
                    Dicta voluptate veritatis mollitia laboriosam sunt adipisci odit aliquam molestiae,
                    qui omnis perspiciatis saepe corrupti officia sit suscipit. Suscipit, tempora. Natus molestias omnis
                    pariatur quae, debitis voluptas veritatis voluptatum itaque magnam explicabo error quod, maiores
                    earum harum. Voluptatibus provident, explicabo corrupti incidunt sequi repellat rem, error adipisci
                    sit cumque, culpa reprehenderit officiis eaque nisi quidem et itaque totam aliquam molestias ex
                    consequuntur?</p>
                <h2>Our Vision</h2>
                <p>
                    Excepturi est tenetur reiciendis consequuntur laudantium explicabo commodi quasi fuga
                    sunt nostrum natus dicta nesciunt blanditiis quas, consequatur culpa velit illum rerum optio? Nobis
                    nemo ratione repellendus totam! Pariatur sint dignissimos, laudantium aliquam eius amet molestiae,
                    accusamus tempora iure dolorem provident voluptatum consectetur iste quam harum dolore culpa!
                    Architecto veniam cumque excepturi ea sed accusamus quasi quo dolores nam! Nulla minus, excepturi
                    fugit totam dolor odio aspernatur est magni repellendus modi sit! Assumenda dolores reprehenderit
                    vitae quo animi in.
                </p>
            </div>
        </div>
    </div>